.Search-item{
    background-color: white;
    color: gray;
    height: 30%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
span{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}