.Search-class{
    max-height: 900px;
    padding: 3%;
    background-color: #febb02;
    border-radius: 15px;
    margin: 20px 10% 0px;
}
.btn-Search{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    color: white;
    font-size: large;
    background-color: #5BBF38;
    margin-top: 15px;
    padding: 10px;
    height:auto;
    width: 60%;
    border: 1px solid gray;
    border-radius: 10px;

}
.column.side {
    width: 20%;
    border:1px solid black;
    background-color: white;
    }