
header{
    height: 100px;
    background-color: white;
}
.TagANav {
    background:white;
}
.pushNew{
    background:red;
    color: white;
    border-radius: 15px;
    padding-right: 4px;
}
.nav-link {
    margin: 8px;
}
.TagUserNav{
    border-radius: 20px;
    background:#D9D9D9;
}