
.container {
    text-align: center;
    justify-content: center;
    display: flex;
}
.account {
    font-family: "Irish Grover"; 
    font-size: 25px; 
    font-style: normal;
}
input[type='button'], button[type='submit']  {
    font-family: "Irish Grover"; 
    font-size: 18px; 
    font-style: normal;
    color: black;
    background-color: white;
    border-radius: 10px;
}
input[type='submit']  {
    color: black;
    background-color: white;
    border-radius: 8px;
    width:75%;
}
input[type='button']:active {
    background-color: rgba(4, 72, 144, 1);
    color: white;
}
input[type='button']:hover {
    background-color: rgba(4, 72, 144, 1);
    color: white;
}

.formLR {
    background-color: white;
    width:30%;
}
.imgLogin {
    border: 1px solid black;
}
.btnLR {
    display: flex;
}
.formPhone{
    text-align: left;
    margin-left: 20%;
    margin-top: 5px;
    margin-bottom: 15px;
}

.aLogin{
    text-align: left;
    margin-left: 20%; 
    font-size: small;
}
#submitLogin{
    width: 60%;
    background-color: rgba(4, 72, 144, 1);
    color: white;
}
#submitLogin:hover{
    background-color: rgba(36, 127, 223, 1);
    color: white;
}
#submitRegister{
    width: 60%;
    background-color: rgba(4, 72, 144, 1);
    color: white;
}
#submitRegister:hover{
    background-color: rgba(36, 127, 223, 1);
    color: white;
}

#validationPhone, #validationPassword, #validationUsername, #validationPassword2, #validationRePassword, #validationPhone2{
    font-size: small;
    width: 75%;
    padding: 10px;
}